@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Playwrite+US+Trad:wght@100..400&family=Sedan+SC&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: rgb(55, 46, 41);
    font-family: "Ibarra Real Nova", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
}

/* header */

header{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #726255;
    background: linear-gradient(0deg, rgba(114,98,85,1) 0%, rgba(55,46,41,1) 100%);
    color: #ecb939;
    position: relative;
}
.harry-title{
    flex-grow: 1;
    text-align: center;
    font-family: "Sedan SC", serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}
.search {
    background-color: transparent;
    border: 2px solid rgba(55, 46, 41, .2);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    justify-content: flex-end;
}
.search:focus{
    outline: 0;
}
.search::placeholder{
    color: whitesmoke;
}

/* landing */

.landing {
  padding: 50px 30px;
  width: 100%;
  text-align: center;
  background: #726255;
  background: radial-gradient(circle, rgba(75,116,159,1) 0%, rgba(8,32,62,1) 100%);
}

.landing p {
  line-height: 3rem;
  font-size: 18px;
  color: white;
  text-shadow: #1E1E1E;
}

/* CARDS  AREA*/

.char-container {
  width: 100%;
  height: auto;
}


.image-background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-background img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: transparent;
    padding-top: 30px;
    gap: 30px;
}

.character {
  background-color: transparent;
  width: 300px;
  height: 500px;
  perspective: 1000px;

}

.character-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 5px solid #726255;
  border-radius: 10px;

  transform-style: preserve-3d;
  transition: transform 0.6s;
  
  
}

.character:hover .character-inner {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  background-color: #726255;
  color: black;
  
  transform-style: preserve-3d;
  perspective: 1000px;

}

.back {
  background-color: #372E29;
  background: linear-gradient(0deg, rgba(114,98,85,1) 0%, rgba(55,46,41,1) 100%);
  border-radius: 5px;
  color: white;
  transform: rotateY(180deg);
  text-align: left;
}

.back h2 {
  margin: 20px 0px 0px 20px;
}

.back h3 {
  margin: 20px 10px 0px 10px;
}

.back p {
  margin-left: 10px;
}

#learn {
  position: absolute;
  bottom: 0px;
  right: 0px;

}

.character-info {

  color: #1E1E1E;
  text-shadow: 0 0 3px #ffffff;
  margin: auto;
  position: relative;
  top: -80px;
  height: 50px;
  width: 90%;
  bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(240, 199, 94, 0.3);
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(240, 199, 94, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}


.character-info h3{
color: black;
font-family: "Playwrite US Trad", cursive;
font-optical-sizing: auto;
font-style: bold;
font-weight: 600;
margin-top: 0;
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


.hide{
    display: none;
}











